<!DOCTYPE html>
<html lang="en" dir="'ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Roger Jin">
    <meta name="keywords" content="Carnegie Mellon University, Information Sysytmes">
    <meta name="description" content="Roger Jin's professional website">
    <title>Roger Jin's Professional Website</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Ruijian(Roger) Jin</h1>
        <nav id="myTopnav" class="topnav">
            <a href="../index.html" class="active">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact</a>
            <a href="fun.html">Fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>

    </header>
    <div class="main">
        <h2> Curriculum Vitae </h2>
        <table>
            <caption>My Experience</caption>
            <tr><th scope="col">Name</th><th scope="col">Description</th></tr>
            <tr><td>Carnegie Mellon University</td><td> First Year student studing in Statistics & Machine Learning <br> and an intended minor in Artificial Intelligence</td></tr>
            <tr><td>Shinerich International, INC.</td><td>Helped rebise ober 30 SKUs of existing products and launched <br> 3 promo pans, all of which, within 1.5 months aferward, have <br> boosted sales by over18%</td></tr>
            <tr><td>Sino-Ca Education</td><td>developed and delivered comprehensive English pronounciation <br> tutorials tailored for 47 ESL students, focusing on specific scrips <br> to enhance linguistic skills</td></tr>
            <tr><td>Prestonwood Christian Academy</td><td>Marching Band Brass Captain, managed targeted practice sessions <br> for the trombone section, focusing on skill enhancement and coordination</td></tr>
            <tr><td>Prestonwood Christian Academy</td><td>Assistant coach at golf summer camp, collaborated closely <br> with the head coach in instructing 35 teenage players on course <br> management stragegies and techniques on short game </td></tr>
        </table>
    <a href="../static/ROGER JIN_Resume2_PDF.pdf" target="_blank"> My Resume - pdf version</a>

    </div>
    <footer>
        <p id="copyYear">Roger Jin &copy</p>
    </footer>
    
</body>
</html>